In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.multioutput import MultiOutputClassifier
from sklearn.pipeline import Pipeline
import pickle
from sklearn.model_selection import train_test_split
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import confusion_matrix

In [3]:
#check sqlalchemy
import sqlalchemy
print (sqlalchemy.__version__ )

1.4.22

In [12]:
#load data from database
def load_data():
    engine = create_engine('sqlite:///casas.db')
    df = pd.read_sql("SELECT * FROM casas", engine) 
    X = df[['apartments', 'houses','areas_sqm', 'quartos','Latitude', 'Longitude', 'CodPostal', 'Cod_Condition', 'T0', 'T1', 'T2', 'T3', 'T4', 'T5', 'T6']]
    y = df[['Price']]
    return X, y

In [13]:
#call function
X,y = load_data()

In [14]:
X.head()

,apartments,houses,areas_sqm,quartos,Latitude,Longitude,CodPostal,Cod_Condition,T0,T1,T2,T3,T4,T5,T6
0,1,0,96,2,40.6175,-8.647778,3810,4,0,0,1,0,0,0,0
1,1,0,119,2,40.6175,-8.647778,3810,4,0,0,1,0,0,0,0
2,1,0,72,2,40.6175,-8.647778,3810,4,0,0,1,0,0,0,0
3,1,0,90,2,40.6175,-8.647778,3810,4,0,0,1,0,0,0,0
4,1,0,126,2,40.6175,-8.647778,3810,6,0,0,1,0,0,0,0

In [15]:
y.head()

    Price
0  145000
1  155000
2  118000
3  185000
4  295000

In [16]:
X.shape, y.shape

((4180, 15), (4180, 1))

In [ ]:
# correr os modelos de machine learning
# ir buscar as funções no notebook do Alexandre
#o que não estiver dentro de uma função colocar

In [17]:
#split data
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.3, random_state=42)
#etc.

### Substituir pelo modelo correto

In [23]:
pipeline=Pipeline([
    ('clf',RandomForestRegressor())
])

In [31]:
pipeline.get_params().keys()

dict_keys(['memory', 'steps', 'verbose', 'clf', 'clf__bootstrap', 'clf__ccp_alpha', 'clf__criterion', 'clf__max_depth', 'clf__max_features', 'clf__max_leaf_nodes', 'clf__max_samples', 'clf__min_impurity_decrease', 'clf__min_impurity_split', 'clf__min_samples_leaf', 'clf__min_samples_split', 'clf__min_weight_fraction_leaf', 'clf__n_estimators', 'clf__n_jobs', 'clf__oob_score', 'clf__random_state', 'clf__verbose', 'clf__warm_start'])

In [39]:
#choose parameters
parameters = {
     "clf__n_estimators": [10, 50, 100]
}

In [40]:
# use GridSearchCV
cv = GridSearchCV(pipeline, param_grid=parameters, verbose=1)

In [41]:
#fit model
model=cv.fit(X_train, y_train)

Fitting 5 folds for each of 3 candidates, totalling 15 fits

/Users/anateresaneto/opt/miniconda3/envs/my_env/lib/python3.9/site-packages/sklearn/pipeline.py:346: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  self._final_estimator.fit(Xt, y, **fit_params_last_step)
/Users/anateresaneto/opt/miniconda3/envs/my_env/lib/python3.9/site-packages/sklearn/pipeline.py:346: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  self._final_estimator.fit(Xt, y, **fit_params_last_step)
/Users/anateresaneto/opt/miniconda3/envs/my_env/lib/python3.9/site-packages/sklearn/pipeline.py:346: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  self._final_estimator.fit(Xt, y, **fit_params_last_step)
/Users/anateresaneto/opt/miniconda3/envs/my_env/lib/python3.9/site-packages/sklearn/pipeline.py:346: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  self._final_estimator.fit(Xt, y, **fit_params_last_step)
/Users/anateresaneto/opt/miniconda3/envs/my_env/lib/python3.9/site-packages/sklearn/pipeline.py:346: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  self._final_estimator.fit(Xt, y, **fit_params_last_step)
/Users/anateresaneto/opt/miniconda3/envs/my_env/lib/python3.9/site-packages/sklearn/pipeline.py:346: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  self._final_estimator.fit(Xt, y, **fit_params_last_step)
/Users/anateresaneto/opt/miniconda3/envs/my_env/lib/python3.9/site-packages/sklearn/pipeline.py:346: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  self._final_estimator.fit(Xt, y, **fit_params_last_step)
/Users/anateresaneto/opt/miniconda3/envs/my_env/lib/python3.9/site-packages/sklearn/pipeline.py:346: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  self._final_estimator.fit(Xt, y, **fit_params_last_step)
/Users/anateresaneto/opt/miniconda3/envs/my_env/lib/python3.9/site-packages/sklearn/pipeline.py:346: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  self._final_estimator.fit(Xt, y, **fit_params_last_step)
/Users/anateresaneto/opt/miniconda3/envs/my_env/lib/python3.9/site-packages/sklearn/pipeline.py:346: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  self._final_estimator.fit(Xt, y, **fit_params_last_step)
/Users/anateresaneto/opt/miniconda3/envs/my_env/lib/python3.9/site-packages/sklearn/pipeline.py:346: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  self._final_estimator.fit(Xt, y, **fit_params_last_step)
/Users/anateresaneto/opt/miniconda3/envs/my_env/lib/python3.9/site-packages/sklearn/pipeline.py:346: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  self._final_estimator.fit(Xt, y, **fit_params_last_step)
/Users/anateresaneto/opt/miniconda3/envs/my_env/lib/python3.9/site-packages/sklearn/pipeline.py:346: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  self._final_estimator.fit(Xt, y, **fit_params_last_step)
/Users/anateresaneto/opt/miniconda3/envs/my_env/lib/python3.9/site-packages/sklearn/pipeline.py:346: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  self._final_estimator.fit(Xt, y, **fit_params_last_step)
/Users/anateresaneto/opt/miniconda3/envs/my_env/lib/python3.9/site-packages/sklearn/pipeline.py:346: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  self._final_estimator.fit(Xt, y, **fit_params_last_step)
/Users/anateresaneto/opt/miniconda3/envs/my_env/lib/python3.9/site-packages/sklearn/pipeline.py:346: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  self._final_estimator.fit(Xt, y, **fit_params_last_step)

In [44]:
#predict
y_pred=model.predict(X_test)

In [50]:
def build_model():
    pipeline = Pipeline([
    ('clf',MultiOutputClassifier(RandomForestRegressor()))
])
    parameters = {
        'clf__estimator__n_estimators':[50,100]
    }
    #create grid_search
    cv = GridSearchCV(pipeline, param_grid = parameters, verbose = 1)
    
    return cv

In [51]:
model = build_model()
file = 'casas.pkl'
pickle.dump(model, open(file, 'wb'))

In [ ]:
#etc

In [ ]:
# desenvolver o mapa